#footer
  .container
    .row
      .col-sm-6
        .nav
          ul
            li
              a(href='aboutus.html') About Us
            li
              a(href='contactus.html') Contact Us
            li
              a(href='location.html') Location
            li
              a(href='prices.html') Prices
            li
              a(href='tos.html') Terms of Service
      .col-sm-6
        .callUs
          p
            i.fa.fa-phone-square(aria-hidden="true")
            tel
              a(href='tel:0220805577') 022 080 5577
#subfooter
  .container
    p#designCopy Design © 2015 Dream PC
