#header
  .container
    .row
      .col-sm-6
        #logo
          a(href='/')
            img.img-responsive(src='img/LogoW.png', alt='Dream PC Logo')
      .col-sm-6
        .callUs
          i.fa.fa-phone-square(aria-hidden="true")
          tel
            a(href='tel:0220805577') 022 080 5577
