.navbar.navbar-default.navbar-fixed-top
  .container
    #slogan.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.pull-right
        li
          a(href='index.html') Home
        li
          a(href='prices.html') Prices
        li
          a(href='location.html') Location
        li
          a#contactUs(href='contactus.html') Contact Us
