- var menu = { 'index': 'Home', 'prices': 'Prices', 'location': 'Location', 'contactus': 'Contact Us' }

block link
  - var selected = 'index'; //default

.navbar.navbar-default.navbar-fixed-top
  .container
    #slogan.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.pull-right
        each val, key in menu
          li
            if selected === key
              a.active(href=key+'.html', title=val)= val
            else
              a(href=key+'.html', title=val)= val
//
        li
          a(href='index.html') Home
        li
          a(href='prices.html') Prices
        li
          a(href='location.html') Location
        li
          a#contactUs(href='contactus.html') Contact Us
