extends layout

block link
  -var selected = 'aboutus';

block content

  .mainPart.jumbotron
    .container
      h2 We are professionals
      p
        | We are a small closely knit team of professionals with decades of experience in the computer support market. All members of our team have industry recognized certificates, and each of us possesses own specific skills, so as a team we can handle virtually any complex situation to help our customers.
      h2 We work when others don't
      p
        | Our mission is to provide high grade computer support services in the Central Auckland area, especially at
        strong unusual
        |  times, such as
        em after hours
        |  and
        em on weekends
        | . This focus allows us to keep very low
        a(href='prices.html') rates
        |  compared to our competitors.
