doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='On-site computer and network support and repair')
    meta(name='author', content= "Yuri Vyatkin, DreamPC Ltd")

    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://use.fontawesome.com/3665571594.js")

    block extraScripts

    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= 'DreamPC::Awesome Computer Support in Auckland!'

    != css()

  body

    include ./modules/_navbar.jade

    include ./modules/_header.jade

    block content

    include ./modules/_footer.jade

    != js()
