extends layout

block content

  .mainPart
    .container

      h2 Prices and Fees*

      table.table
        thead
          tr
            th(colspan='2')
              | Service Fees
        tbody
          tr
            td
              | On-site user support with issues involving a standalone computer with an Internet connection and standard peripheral devices (e.g. printer, scanner, speakers etc.)
            td $60.00/hour
          tr
            td
              | On-site user support with issues involving 2 or more peer networked computers with an Internet connection and a standard peripheral devices (e.g. printer, scanner, speakers etc.)
            td $75.00/hour
          tr
            td
              | On-site user support with with issues involving a computer connected to a server-based network
            td $100.00/hour
          tr
            td
              | Remote user support with  with issues involving one standalone computer with a working Internet connection and a standard peripheral devices (e.g. printer, scanner, speakers etc.)
            td $50.00/hour
          tr
            td
              | Remote user support with with issues involving 2 or more peer networked computers with an Internet connection and a standard peripheral devices (e.g. printer, scanner, speakers etc.)
            td $65.00/hour
          tr
            td
              | Remote user support with with issues involving computers connected to a server-based network
            td $85.00/hour
          tr
            td
              | Re-installation of the operating system on one standalone (non-server) computer = a flat rate equivalent to 4 hours of labour
            td $240.00

      table.table
        thead
          tr
            th(colspan='2') Travel Fees
        tbody
          tr
            td Central Auckland Suburbs
            td $00.00
          tr
            td Outside Central Auckland Area (more that 30 km from the City)
            td $1/km
      p(style='font-weight: bold') * All prices are given in New Zealand dollars, not including GST.
