extends layout

block link
  - var selected='thanks';

block content

  .mainPart.jumbotron
    .container
      h2 Many thanks for your message!
      p
        | We shall get back to you as soon as we can.
