extends layout

block content

  .mainPart
    .container
      h2 Terms of Service
      h3 General terms
      ul
        li
          | By calling one of the consultants from DreamPC Limited (hereinafter “the Company”) to the customer’s premises or agreeing to receive remote support from the Company the Customer agrees to be bound by the present terms of Service (hereinafter “the Terms”).
      h3 Services
      ul
        li
          | Services are provided on the appointment basis subject to availability of consultants.
        li
          | Appointments are made within specified time intervals estimated to be sufficient to provide the service requested by the Customer.
      h3 Prices
      ul
        li Our prices include hourly rates for services, call out fees and prices of goods.
        li
          | The prices for the services and call out fees are published on our website
          a(href='www.dreampc.nz') www.dreampc.nz
          |  and updated on the basis of economical circumstances changes.
        li The prices of goods are quoted upon each customer’s inquiry.
        li
          | Service fees are determined by the nature of work and the Customer agrees that the price may be adjusted if the actual work that has been provided within the category that was not initially assigned to the job.
        li All prices are stated in New Zealand dollars, not including GST.
      h3 Payment
      ul
        li
          | Payments  for services and call out fees must be made upon the delivery of services unless the Customer has an account set up prior to the delivery of the service.
        li
          | Payment for goods must be made in full according to the quote prior to the delivery of the goods.
      h3 Warranties
      ul
        li
          | The Company guarantees that the service fee will be charged only if the solution was provided to the full customers’ satisfaction.
        li
          | The Company guarantees that the consultant will arrive not later than 30 minutes after the beginning of the appointment time interval, otherwise no travel fee is charged.
        li
          | All goods sold through the Company are subject to the Return-To-Base policies of the original suppliers.
