@import bootstrap

//normalize-css()
//base()

body
  padding 0
  margin 0

tel
  font-weight bold
  & > a
    text-decoration none
    color white
    &:link
      text-decoration none
      color white
    &:hover
      text-decoration none
      color white
    &:active
      text-decoration none
      color white
    &:visited
      text-decoration none
      color white

#header
  background #AA7539
  color #FFFFFF
  margin-top 50px
  padding-top 20px
  padding-bottom 20px

.navbar
  margin-bottom 0
  border 0
  border-radius 0

  li
    font-weight bold

#motto
  list-style none
  margin 10px

.navbar-default
  background #EAC59C
  color #FFFFFF

#myNavbar
  a
    color #AA7539
  #contactUs
    color #2B1600

#slogan
  color #2B1600
  font-weight bold
  font-size 1.1em
  padding-top 15px

#centralPart
  background #EAC59C

#features
  color #2B1600
  padding-top 20px
  padding-bottom 20px

.feature-icon
  float left

#footer
  background #6A3800
  color #FFFFFF
  padding-top 20px
  padding-bottom 20px
  a
    color #FFFFFF
  li
    list-style none
  ul
    padding-left 0

#subfooter
  background #2B1600
  color #FFFFFF
  padding-top 20px
  padding-bottom 20px

.carousel
  img
    margin 0 auto

#needHelp
  text-align right

.callUs
  font-size 2em
  text-align right
  margin 0
  position relative
  top 50%
  transform translateY(50%)

.carousel-caption
  color #2B1600

.carousel-control
  i
    position relative
    top 50%
    transform translate(50%)

#designCopy
  font-size 0.75em
  text-align right

#map-canvas
  height 600px

input
  padding 6px
  width 100%

textarea
  margin-bottom 6px
  padding 6px
  width 100%
